@import "../../style/variables";

.masterBackground {
    background-color: $primaryColor-Light;
}

.background {
    width: 100vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passwordIcon {
    color: $backgroundColor;
    font-size: 0;
    width: 50vw !important;
    height: 50vh !important;
}

.formRecovery {
    background-color: $backgroundColor;
    border-radius: 10% 10% 0 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headParagraph {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: $first-Font;
    margin-bottom: 10px;
}

.otherParagraph {
    font-family: $second-Font;
    justify-content: center;
}

.orParagraph {
    font-family: $first-Font;
    margin: 10px 0;
}

.backButton {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkButton {
    color: $primaryColor;
    text-decoration: none;
    margin-left: 10px;
}