@import '../../style/variables';

.background {
    background-color: $primaryColor-Light;
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 2% 2% 0;
}

.passwordIcon {
    color: $backgroundColor;
    font-size: 0;
    width: 50vw !important;
    height: 50vh !important;
}