.css-1nrlq1o-MuiFormControl-root {
    display: flex !important;
    flex-direction: row !important;
    align-content: space-between !important;

    .employeePendingRequestRestForm {
        width: 30vw;
    }
}