@import '../../../style/variables';

.loginContainerBackground {
    background: url(../../../assets/backgroundLoginContainer.jpg) no-repeat center;
    background-size: cover;
    border-radius: $loginBg-borderRadiusLeft 0 0 $loginBg-borderRadiusRight;
    height: 100vh;
    flex-grow: 3;
}

@media (max-width: 375px) {
    .loginContainerBackground {
        height: 0%;
        width: 0%;
    }
}