@import '../../../style/variables';

&__loginContainer {
    padding: 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

&__loginContainerTitle {
    font-family: $first-Font;
    font-size: 2.5rem;
    color: $secondaryColor;
    margin-bottom: 1rem;
}

&__loginContainerParagraph {
    color: $secondaryColor;
    font-family: $first-Font;
}

&__loginContainerParagraphSec {
    margin-top: 10px;
    font-weight: 300;
}