@import './../../../style/variables';

.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80vw;
}

.errList {
    padding: 10px 0;
}

.fieldForm {
    margin-bottom: 10px;
}

.recoveryButton {
    display: block;
    margin-top: 10px;
    color: $backgroundColor !important;
}