@import "../../../style/variables";



@media (max-width: $mobile-width) {
    .css-rqglhn-MuiTable-root {
        width: 90vw !important;
        display: block !important;
        overflow-x: scroll;
    }
}