@import "../../../style/variables";

.MuiTableCell-head {
    background-color: red;
}

@media (max-width: $mobile-width) {
    .table {
        width: 100%;
        display: block;
        overflow-x: scroll;
    }

    .tableHeaders {
        width: 100%;
    }
}