@import "../../../style/variables";

.userPlanTextField {
    width: 50%;
}

.userAppDiv {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media (max-width: $mobile-width) {
    .userAppDiv {
        width: 100vw;
    }
}