@import "../../../style/variables";

.formDiv {
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
}

.label {
    font-family: $first-Font;
}

.listForm {
    width: 20vw;
}

.buttonForm {
    height: 55px;
    color: white !important;
}

@media (max-width: $mobile-width) {
    .formDiv {
        width: calc(100vw - 80px) !important;
        flex-direction: column !important;
        align-self: center;
        // margin-top: 5px;
        align-items: stretch;
    }

    .listForm {
        width: calc(100vw - 80px) !important;
        margin-top: 20px !important;
    }

    .buttonForm {
        width: calc(100vw - 80px) !important;
        margin-top: 5px;
    }
}