.employeePendingRequestRestContainer {
    margin: 0 auto;

    .css-1nrlq1o-MuiFormControl-root {
        display: flex !important;
        flex-direction: row !important;
        align-content: space-between !important;
        margin-top: 10px !important;
        width: 90vw;
        justify-content: space-between;

        .employeePendingRequestRestForm {
            width: 45vw;
        }

        .employeePendingRequestRestButton {
            color: white !important;
        }
    }
}